.mainwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.childwrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1250px;
    height: 475px;
}


.titlewrapper{
    display: flex;
    align-items: center;
    position: relative;
    color: #1B3E1C;
    
}

.Title{
    font-size: 50px;
    font-weight: 600;
    margin-right: 20px;
}
.Titlede {
    height: 3px;
    width: 100px;
    margin-top: 10px;
    background-color: #1B3E1C;
}

.botwrapper{
    display: flex;
    justify-content: center;
}

.bottomcont{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 482px;
    height: 300px;
}

.topimgs, .botomimgs{
    display: flex;
    justify-content: space-between;
}

.imgcard{
    position: relative;
    height: 140px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1B3E1C;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 475px;
}

.righttitlebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-bottom: 10px;
}

.titleleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 260px;
}

.speretor{
    height: 30px;
    width: 3px;
    background-color: #1B3E1C;
    border-radius: 15px;
}

.imgcardrighttop{
    position: relative;
    height: 50px;
    width: 100px;
}


.titleleft span{
    color: #1B3E1C;
    font-size: 20px;
    font-weight: 600;
}

.titlerightslid{
    display: flex;
    justify-content: space-between;
    width: 74px;
}

.lefttic ,.righttic{
    position: relative;
    height: 20px;
    width: 20px;
    padding: 6px;
    background-color: #1B3E1C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.newsimg{
    position: relative;
    width: 475px;
    height: 280px;
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid #1B3E1C;
}


@media (max-width: 860px){

    .mainwrapper{
        height: fit-content;
        padding: 100px 0;
    }

    .childwrapper{
        width: 90%;
        height: fit-content;
    }

    .bottomcont{
        flex-direction: column;
    }

    .left{
        display: none;
    }
    .right{
        width: 100%;
        margin-top: 55px;
    }
    
    .newsimg{
        width: 100%;
        height: 225px;
    }

    .Title{
        font-size: 38px;
    }
    .Titlewrapper{
        margin-bottom: 20px;
    }
    .Titlede{
        margin-top: 6px;
        width: 80px;
    }

    .righttitlebar{
        width: 100%;
        margin-bottom: 4px;
    }
    .imgcardrighttop{
        width: 75px;
        display: flex;
        align-items: center;
        margin-right: 12px;
    }

    .titleleft{
       align-items: center;
       width: fit-content;
    }

    .speretor{
        margin-right: 12px;
    }
}